body{
  background-color:white;
background-image: linear-gradient(90deg, rgba(0, 174, 228, 0.2) 50%, transparent 50%),
linear-gradient(rgba(0, 174, 228, 0.2) 50%, transparent 50%);
background-size:50px 50px;
font-family: Helvetica, sans-serif;
}

main{
  background: rgba(255, 255, 255, 0.4);
  margin:  0  22em;
  text-align: justify;
}

h1, h2{
  text-align: center;
  color: #023744;
}

p{
  color: #00181e;
}

li{
  color: #00181e;
}

a{
  text-decoration: none;
  background: rgba(0, 174, 228, 1);
  color: white;
  border-radius: 20%;
  padding: 0.2em;
}
#img-div{
  text-align: center;
}

img {
  width: 30%;
  height: auto;
}
